# Build artifacts
build/
cmake-build*/
out/

*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
*.a
*.lib

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDE-specific files
.idea/
.vscode/
*.iml

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo
*.bak

# System files
.DS_Store
Thumbs.db

# Git-specific files
*.orig

.vs/